// クレジットカードのアイコンを使う時はぜひこのクラス名を使用してください〜

img.visa-card {
  width: 49;
  height: 20;
}

img.master-card {
  width: 34;
  height: 20;
}

img.saison-card {
  width: 30;
  height: 20;
}

img.jcb-card {
  width: 32;
  height: 20;
}

img.american-express {
  width: 21;
  height: 20;
}

img.diners-club {
  width: 32;
  height: 20;
}

img.discover {
  width: 32;
  height: 20;
}
