.complete-mainContents
  .complete-singleContent
    .complete-singleContent__head 会員登録完了
    .complete-singleContent__inner
      .complete-container
        %p
          ありがとうございます。
        %p.complete2
          会員登録が完了しました。
        .clearfix
          = link_to "/products",class: "completeButton-input"  do
            %input{type: "button",class: "completeButton-input__text", value: "メルカリをはじめる"}
          