.main-contents
  .single-content
    .single-content__head 会員登録完了
    .single-content__inner
      .single-content__action
        .single-content__inner__action__form 
        .container
          %p.complete_1
            ありがとうございます。
          %p.complete_2
            会員登録が完了しました。
            
                
          .clearfix
            %input{type: "button",class: "btn-default button-red costom__main", value: "メルカリを始める"}
            