.wrapper
  .signup-header
  .signup-main
    .signup-main__contents
      .signup-main__contents__header
        新規会員登録
      .signup-main__contents__main
        .email
          メールアドレスで登録
        .facebook
          Facebookで登録
        .gmail
          Googleで登録
  .signup-footer
    .signup-footer__policy
      プライバシーポリシー
    .signup-footer__rule
      メルカリ利用規約
    .signup-footer__trade-regulation
      特定商取引に関する表記  
    .signup-footer__mercari-mark
      ©2019 Mercari