// 岡田が修正しました
// 任意マーク
.form-any {
  background-color:$dark-gray;
  color:$white;
  font-size:12px;
  padding:2px 4px;
  margin:0 0 0 8px;
  border-radius: 2px;
  vertical-align: middle;
}

// 「次へ進む」がカーソル表示されなかったので付け加え
.information-btn {
  cursor:pointer;
}
        