// バナー
.topBanner{
  text-align: center;
  width: 100%;
  background-color: #DCDCDC;
  &--left{
    color:$white;
    position: absolute;
    left:50px;
    top:320px;
    font-size:40px;
  }
  &--right{
    color:$white;
    position: absolute;
    right:50px;
    top:320px;
    font-size:40px;
  }
  &--image{
  height: 400px;
  width: 850px;
  }
}
// 商品メイン
.bodyMain{
  background-color:$background-gray;
  &_pickup{
      margin-bottom:40px;
    &--title{
      text-align: center;
      font-size:28px;
      font-weight:700;
      color: $font-color;
      letter-spacing:0.1em;
      margin-top:40px;
    }
    &_cotegory{
        margin: 0 auto;
        width: 940px;
      &_box{
        &--title{
          text-align: center;
          margin:26px 11px;
          font-weight:800;
          font-size:24px;
          letter-spacing:0.1em;

          a.category-title__link{
            font-size:22px;
            color: $skyblue;
            text-decoration:none;
          }
        }
        // 横並びアイテム
        &_items{
            text-align: center;
          // 一つ一つのアイテム
          .itemBox{
              position: relative;
              float: left;
              width: 213px;
              margin: 0 0 0 20px;
              a.itemBox_a{
                color:$font-color;
                text-decoration:none;
              }
              &--image{
                vertical-align: bottom;
              }
            &_ditails{
              background-color: $white;
              padding:16px;
              text-align: left;
              height: 130px;
              &--name{
                height: 3em;
                line-height: 1.5;
                overflow: hidden;
                position: relative;
              }
              .hide{
                width: 100px;
                height: 1.5em;
                position: absolute;
                background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
                right:0px;
                top:27px
              }
              &_num{
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                margin-top:8px;
                &--price{
                  font-weight:bold;
                }
              }
              &--tax{
                font-size:10px;
              }      
            }
          }
        }
        .viewAll {
          text-align: right;
          display: block;
          padding: 20px 0 30px;
          width: 99.5%;
          a {
            color: $skyblue;
            font-size: 15px;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
