.deleteWrapper{
    margin:20px auto;
    width: 50vw;
    padding:0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  &_inner{
      margin:5px auto;
      text-align: center;
      color: #fff;
      width: 50vw;
      .itemName{
        color:$font-color;
        font-size:24px;
      }
    &_text{
      height: 50px;
      line-height:50px;
      margin:15px 0;
    }
    &_box{
      height: 40px;
      line-height:50px;
    }
    .backRed{
      background-color:red;
    }
    .textBlack{
      color:$font-color;
    }
    .backgray{
      background-color: $dark-gray;
    }
  }
}
.statusSubmit{
  color: $white;
  line-height: 50px;
  cursor:pointer;
}

a.linkClear{
  color:$white;
}

.imageSize{
  width: 400;
}
