// 商品メイン
.bodyMain{
  background-color:$background-gray;
  &_pickup{
      margin-bottom:40px;
    &--title{
      text-align: center;
      font-size:28px;
      font-weight:700;
      color: $font-color;
      letter-spacing:0.1em;
      margin-top:40px;
    }
    &_cotegory{
        margin: 0 auto;
        width: 940px;
      &_box{
        &--title{
          text-align: center;
          margin:26px 11px;
          font-weight:800;
          font-size:24px;
          letter-spacing:0.1em;

          a.category-title__link{
            font-size:22px;
            color: $skyblue;
            text-decoration:none;
          }
        }
        // 横並びアイテム
        &_items{
            text-align: center;
          // 一つ一つのアイテム
          .itemBox{
              position: relative;
              float: left;
              width: 213px;
              margin: 0 0 0 20px;
              .sold::before {
                content: "";
                top: 0;
                left: 0;
                border-bottom: 120px solid transparent;
                border-left: 120px solid $red; /* ラベルの色はここで変更 */
                position: absolute;
                z-index: 100;
                }
              .sold::after {
                content: "SOLD";
                display: block;
                top: 25px;
                transform: rotate(-45deg);
                color: $white; /* 文字色はここで変更 */
                left: 5px;
                font-size: 28px;
                font-weight: 600;
                position: absolute;
                z-index: 101;
                }
              a.itemBox_a{
                color:$font-color;
                text-decoration:none;
              }
              &--image{
                vertical-align: bottom;
              }
            &_ditails{
              background-color: $white;
              padding:16px;
              text-align: left;
              height: 130px;
              &--name{
                height: 3em;
                line-height: 1.5;
                overflow: hidden;
                position: relative;
              }
              .hide{
                width: 100px;
                height: 1.5em;
                position: absolute;
                background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
                right:0px;
                top:27px
              }
              &_num{
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                margin-top:8px;
                &--price{
                  font-weight:bold;
                }
              }
              &--tax{
                font-size:10px;
              }      
            }
          }
        }
      }
    }
  }
}

.viewAll {
  text-align: right;
  display: block;
  padding: 20px 0 30px;
  width: 99.5%;
  a {
    color: $skyblue;
    font-size: 15px;
  }
  a:hover{
    text-decoration: underline;
  }
}
