.contents
  .signup-bar
    .signup-bar__log
      =link_to image_tag("Mercari_logo.png" ,alt: "mercari",class: "mercari-logo"),root_path
      
    .side-bar__progress
      %ul.cp_stepflow01
              
        %li.completed
          会員情報
          %span.bubble
                  
        %li.completed
          電話番号認証
          %span.bubble
                      
        %li.active
          お届け先住所入力 
          %span.bubble
                                    
        %li
          支払い方法
          %span.bubble                    
                
        %li
          完了
          %span.bubble
                    
