* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration:none;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

html,body {
  background-color: $background-gray;
}
