.product-comments-contents
  .product-comments-contents__margin
    %p.attentions
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    -# あとでインプット先を変える(@userと:email)
    .input-comments
      %form{action: "/", method: "post"}
        %input{type: "text", class: "input-comments__text"}
        %input{type: "submit", value: "コメントする", class: "input-comments__button"}
